.block{
	padding: auto;
	margin: 10px;
	height: 100px;
	width: 100px;		
	font-size: 40px;
	float: left;
	background-color: #9D9D9D;		
	border: none;
	position: relative;
	border-radius: 10px;	
}
.block-in
{	padding: 0;
	margin: 0;
	height: 100px;
	width: 100px;
	position: relative;
	z-index: 2;
	border-radius: 10px;
}
.body{
	padding: 10px;
	background-color: #7B7B7B;
	height: 480px;
	width: 480px;		
	font-family: Rockwell Extra Bold;
	position: relative;
	border-radius: 10px;

}
.center{
	margin: 0px;
	padding-top: 26.5px;
	padding-bottom: 26.5px;
	text-align: center;
	font-weight: 700;
	
}
.btn{
	font-family: Rockwell Extra Bold;
	font-size:  20px;
	border-radius: 20px;
	display: inline-block;
	border : none;
	transition-duration: 0.2s;
	cursor: pointer;

}
#startbtn
{	
	background-color: #FF8F59;
	padding: 15px;
	margin-left : 23%;
	margin-top : 40px; 
	color: #FDFFFF;	
}
#rebtn{
	background-color: #5B5B5B;
	padding: 15px;
	margin-left : 12%;
	margin-top : 40px; 
	color: #FDFFFF;	
}
.buttondiv{
	width: 500px;
}
.two{
	background-color: #FDFFFF;
	color:#6C6C6C;
	border-radius: 10px;
}
.four{
	background-color: #FFFFCE;
	color:#6C6C6C;
	border-radius: 10px;
}
.eight{
	background-color: #FFD1A4;
	color:#FDFFFF;
	border-radius: 10px;
}
.sixteen{
	background-color: #FF9D6F;
	color:#FDFFFF;
	border-radius: 10px;
}
.thirty{
	background-color: #FF8040;
	color:#FDFFFF;
	border-radius: 10px;
}
.sixty{
	background-color: #F75000;
	color:#FDFFFF;
	border-radius: 10px;
}
.onetwenty{
	background-color: #FFE66F;
	color:#FDFFFF;
	border-radius: 10px;
}
.twofifty{
	background-color: #FFDC35;
	color:#FDFFFF;
	border-radius: 10px;
}
.fivetwelve{
	background-color: #FFDC35;
	color:#FDFFFF;
	border-radius: 10px;
}
.tentwenty{
	background-color: #FFD306;
	color:#FDFFFF;
	border-radius: 10px;
}
.twentyforty{
	background-color: #EAC100;
	color:#FDFFFF;
	border-radius: 10px;
}
.toobig{
	background-color: #4F4F4F;
	color:#FDFFFF;
	border-radius: 10px;
}